@charset "utf-8";
/* 하단 */
.footer {
  background: rgb(235, 236, 241);
}
.footer .inner {
}
.footer-top {
  height: 69px;
  font-size: 0;
  border-bottom: 1px solid rgb(213, 214, 221);
}
.footer-top a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 69px;
  letter-spacing: -1px;
  padding: 0 10px;
  color: rgb(68, 68, 68);
}
.footer-top a:first-child {
  padding-left: 0;
}
.footer-top a:not(:first-child)::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 2px;
  left: 0px;
  top: calc(100% / 2 - 1px);
  background: #000;
}
.footer-top a strong {
  font-weight: 700;
}
.footer-bottom {
  height: 99px;
  padding: 25px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-mid {
  padding-right: 80px;
}
.footer-bottom-mid p {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
}
.footer-bottom-mid p:last-child {
  color: rgb(136, 136, 136);
  margin-bottom: 0;
}
.footer-bottom-right {
  display: flex;
  align-items: center;
}
.img120 {
  display: inline-block;
  width: 140px;
  height: 20px;
  font-size: 0;
  background: url(../images/img_120.png);
  margin-right: 20px;
}

@media screen and (max-width: 1240px) {
  .footer {
    background: #fff;
  }
  .footer-top {
    height: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 0;
    margin: 20px 0 5px;
  }
  .footer-top a {
    font-size: 13px;
    line-height: 30px;
    padding: 3px;
  }
  .footer-top a:nth-of-type(3),
  a:nth-of-type(4),
  a:nth-of-type(9),
  a:nth-of-type(10) {
    display: none;
  }
  .footer-top a:not(:first-child)::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    left: -1px;
    top: calc(100% / 2 + 3px);
    background: #000;
  }
  .footer-bottom {
    height: 120px;
    padding: 0 0 15px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer-logo {
    display: none;
  }
  .footer-bottom-mid {
    text-align: center;
    padding-right: 0;
  }
  .footer-bottom-mid p {
    font-size: 13px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
  }
  .footer-bottom-mid p:last-child {
    color: rgb(136, 136, 136);
    margin-bottom: 0;
  }
  .footer-bottom-right {
    margin: 0 0 15px;
  }
  .img120 {
    width: 104px;
    height: 15px;
    background: url(../images/img_120_m.png);
    background-size: contain;
  }
  .img-wa {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-bottom {
    height: 160px;
  }
  .footer-bottom-mid p:first-of-type > span {
    display: block;
  }
  .footer-bottom-mid p:last-child {
    font-size: 14px;
    letter-spacing: 0;
  }
}
