@charset "utf-8";
/* 상단 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid #d5d6dd;
  background: #fff;
  z-index: 999999;
  transition: height 0.5;
}
.header-active {
  height: 720px;
  border-bottom: 1px solid rgb(79, 98, 157);
}
.header .inner {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 200px;
  height: 64px;
  background: url("../images/logo_header.png") no-repeat center;
}
.gnb {
  width: 690px;
  /* height: ; */
  margin-right: 85px;
  transition: height 0.5s;
}
.gnb > ul {
  display: flex;
  justify-content: space-between;
}
.gnb > ul > li {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}
.gnb > ul > li > a {
  padding: 0 40px;
  letter-spacing: -1px;
  display: inline-block;
}
.gnb-active {
  margin-right: 0;
  margin-top: 624px;
  width: 1440px;
  height: 720px;
  background: #fff;
  z-index: 9999999;
  padding: 0 30px;
  border-bottom: 1px solid rgb(79, 98, 157);
}
.gnb-active > ul > li {
  width: 290px;
  height: 101px;
  line-height: 101px;
  border-bottom: 1px solid rgb(76, 96, 156);
}
.gnb-active > ul > li > a {
  text-align: center;
  display: block;
}
.gnb-active > ul > li:hover > a {
  color: rgb(33, 75, 156);
}
.gnb-active > ul > li:last-child > .submenu > li {
  padding: 3px 0 0 0;
}
.submenu {
  display: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(68, 68, 68);
  letter-spacing: -1px;
  position: absolute;
  top: 114px;
  left: 0;
}
.submenu::after {
  content: "";
  position: absolute;
  top: -12px;
  right: -30px;
  width: 1px;
  height: 610px;
  background: rgb(221, 221, 221);
}
.submenu > li {
  width: 290px;
  height: 37px;
  padding: 8px 0px 8px 8px;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.submenu > li > a {
  position: relative;
  display: flex;
  align-items: center;
}
.submenu > li:hover {
  background: rgb(245, 249, 255);
}
.submenu > li:hover > a {
  color: rgb(49, 92, 164);
}
.submenu > li > a::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: 0px;
  width: 5px;
  height: 10px;
  border: none;
  background-image: url("../images/sp_com.png") no-repeat center;
  opacity: 0.6;
  background-position: 0px -200px;
}
.submenu > li > a > span:first-child {
  width: 40px;
  height: 30px;
  background-image: url("../images/sp_gnb_part.png");
  background-color: #fff;
  border-image-width: 0;
}
.img1 {
  background-position: 0 0;
}
.img2 {
  height: 33px !important;
  background-position: 0 -29px;
}
.img3 {
  background-position: 0 -60px;
}
.img4 {
  height: 33px !important;
  background-position: 0 -88px;
}
.img5 {
  height: 32px !important;
  background-position: 0 -119px;
}
.img6 {
  background-position: 0 -150px;
}
.img7 {
  height: 30px !important;
  background-position: 0 -180px;
}
.img8 {
  height: 32px !important;
  background-position: 0 -209px;
}
.img9 {
  background-position: 0 -240px;
}
.img10 {
  background-position: 0 -269px;
}

.submenu > li > a > span {
  margin-left: 5px;
}
.member-list {
  width: 280px;
}
.member-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-list > ul > li {
  font-size: 1.3rem;
  position: relative;
}
.member-list > ul > li > a {
}
.member-list > ul > li:first-child {
  padding: 0 30px 0 10px;
}
.member-list > ul > li:nth-child(2) {
  padding: 0 35px 0 5px;
}
.member-list > ul > li:last-child {
  margin-left: 25px;
}
.login {
  position: relative;
}
.login::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.login-active::after {
  transform: rotate(180deg);
  top: 4px;
}
.login-submenu {
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
  width: 84px;
  height: 69px;
  border: 1px solid rgb(182, 186, 190);
  border-radius: 3px;
  background: #fff;
  padding: 6px 0;
}
.login-submenu > li > a {
  display: block;
  height: 27px;
  line-height: 19px;
  padding: 4px 15px;
}
.login-submenu > li:hover {
  background: rgb(245, 249, 255);
}
.login-submenu::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 12px 11px 12px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 50px;
}
.login-submenu::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 12px 11px 12px;
  border-color: rgb(182, 186, 190) transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -11px;
  left: 50px;
}
.language {
  position: relative;
}
.language::before {
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  top: 4px;
  width: 1px;
  height: 10px;
  background: #d9d9d9;
}
.language::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.language-active::after {
  transform: rotate(180deg);
  top: 4px;
}
.language-submenu {
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
  width: 110px;
  height: 150px;
  border: 1px solid rgb(182, 186, 190);
  border-radius: 3px;
  background: #fff;
  padding: 6px 0;
}
.language-submenu > li > a {
  display: block;
  height: 27px;
  line-height: 19px;
  padding: 4px 15px;
}
.language-submenu > li:hover {
  background: rgb(245, 249, 255);
}
.language-submenu::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 12px 11px 12px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  right: 11px;
}

.language-submenu::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 12px 11px 12px;
  border-color: rgb(182, 186, 190) transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -11px;
  right: 11px;
}
.header-searchBtn {
  display: block;
  height: 24px;
  width: 24px;
  background: url("../images/img_srch.png") no-repeat center;
  border: 0;
  cursor: pointer;
}
.header-sitemap {
  display: block;
  border: 0;
  height: 24px;
  width: 29px;
  background: url("../images/img_sitemap.png") no-repeat center;
}
