@charset "utf-8";
/* 상단 */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d5d6dd;
  background: #fff;
  z-index: 999999;
}
.header .inner {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 200px;
  height: 64px;
  background: url("../images/logo_header.png") no-repeat center;
}
.gnb {
  width: 690px;
  margin-right: 85px;
}
.gnb > ul {
  display: flex;
  justify-content: space-between;
}
.gnb > ul > li {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}
.gnb > ul > li > a {
  padding: 0 40px;
  letter-spacing: -1px;
}
.submenu {
  display: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(68, 68, 68);
  letter-spacing: -1px;
  position: absolute;
  top: 300%;
  left: 0;
}
.submenu > li {
  width: 290px;
  height: 37px;
  padding: 8px 0px 8px 8px;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.member-list {
  width: 280px;
}
.member-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-list > ul > li {
  font-size: 1.3rem;
}
.member-list > ul > li > a {
}
.member-list > ul > li:first-child {
  padding: 0 30px 0 10px;
}
.member-list > ul > li:nth-child(2) {
  padding: 0 35px 0 5px;
}
.member-list > ul > li:last-child {
  margin-left: 25px;
}
.login-btn {
  position: relative;
}
.login-btn::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.language {
  position: relative;
}
.language::before {
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  top: 4px;
  width: 1px;
  height: 10px;
  background: #d9d9d9;
}
.language::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.header-searchBtn {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/img_srch.png") no-repeat center;
}
.header-sitemap {
  display: block;
  width: 29px;
  height: 24px;
  background: url("../images/img_sitemap.png") no-repeat center;
}
