@charset "utf-8";
/* 홍보, 안내 */
.info {
}
.info .inner {
  height: 100%;
  margin-top: 55px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.info-left {
  width: 683px;
  height: 100%;
}
.youtube-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.info-title {
}
.youtube-bottom {
  display: block;
  display: flex;
  justify-content: space-between;
}
.youtube-img {
  width: 322px;
  height: 243px;
  border: 1px solid rgb(213, 214, 221);
}
.youtube-img img {
  width: 100%;
}
.youtube-title {
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  padding: 17px 10px 0;
  color: rgb(68, 68, 68);
}
.info-right {
  width: 683px;
  margin-left: 35px;
}
.info-zone-top {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  align-items: center;
}
.pages {
  width: 36px;
  font-size: 15px;
  letter-spacing: -2px;
  text-align: center;
  color: rgb(68, 68, 68);
  margin: 0 5px;
}
.info-play-btn {
  background-position: -182px 0px;
}
.info-zone-bottom {
  width: 100%;
}
.sw-info {
}
.swiper-wrapper {
  /* display: flex;
  justify-content: space-between; */
}
.info-img {
  display: block;
  width: 325px;
  height: 243px;
}
.info-img img {
  width: 100%;
  height: 100%;
}
