@charset "utf-8";
/* 홍보, 안내 */
.info {
}
.info .inner {
  height: 100%;
  margin-top: 55px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.info-left {
  width: 683px;
  height: 100%;
}
.youtube-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.info-title {
}
.youtube-bottom {
  display: block;
  display: flex;
  justify-content: space-between;
}
.youtube-img {
  width: 322px;
  height: 243px;
  border: 1px solid rgb(213, 214, 221);
}
.youtube-img img {
  width: 100%;
}
.youtube-title {
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  padding: 17px 10px 0;
  color: rgb(68, 68, 68);
}
.info-right {
  width: 683px;
  margin-left: 35px;
}
.info-zone-top {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  align-items: center;
}
.pages {
  width: 36px;
  font-size: 15px;
  letter-spacing: -2px;
  text-align: center;
  color: rgb(68, 68, 68);
  margin: 0 5px;
}
.info-play-btn {
  background-position: -182px 0px;
}
.info-zone-bottom {
  width: 100%;
}
.sw-info {
}
.info-img {
  display: block;
  width: 325px;
  height: 243px;
  border: 1px solid rgb(213, 214, 221);
}
.info-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .info .inner {
    width: 100%;
    margin-top: 3.93vw;
    padding-bottom: 2.14vw;
  }
  .info-left {
    width: 48.57vw;
  }
  .youtube-img {
    width: 22.86vw;
    height: 18.57vw;
  }
  .youtube-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .info-right {
    width: 48.57vw;
    margin-left: 2.5vw;
  }
  .sw-info {
    width: 100%;
  }
  .info-img {
    width: 23.21vw;
    height: 17.36vw;
  }
}

@media screen and (max-width: 768px) {
  .info .inner {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    flex-direction: column;
  }
  .info-left {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .youtube-img {
    width: 46.88vw;
    height: 32.55vw;
  }
  .youtube-title {
    line-height: 5.47vw;
    padding: 0;
  }
  .info-right {
    width: 100%;
    margin-left: 0;
  }
  .info-zone-top {
    height: 26px;
  }
  .buttons button {
    width: 23px;
    height: 23px;
    background: url("../images/sp_main_m.png") no-repeat center;
    background-size: 400px 400px;
  }
  .buttons button.left-btn {
    background-position: -112px 0px;
  }
  .buttons button.pause-btn {
    background-position: -137px 0px;
  }
  .buttons button.right-btn {
    background-position: -187px 0px;
  }
  .buttons button.info-play-btn {
    background-position: -162px 0px;
  }
  .info-img {
    width: 46.88vw;
    height: 35.16vw;
  }
}
