@charset "utf-8";
/* sns, 정보, 이슈 */
.issue {
}
.issue .inner {
  display: flex;
  align-items: start;
  margin-top: 40px;
}
.issue-subtitle {
}
.issue-left {
}
.issue-left-top {
  margin: 0px 0px 15px;
}
.issue-left-bottom {
  width: 324px;
  height: 242px;
  background: url("../images/bg_sns.jpg") no-repeat center;
  background-size: contain;
  position: relative;
}
.sns-icons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 36px;
}
.sns-icons li {
  margin: 0 4px;
}
.sns-icon {
  display: block;
  width: 42px;
  height: 42px;
}
.sns-icon1 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: auto;
  background-position: 0px;
}
.sns-icon2 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: auto;
  background-position: -42px;
}
.sns-icon3 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: auto;
  background-position: -84px;
}
.sns-icon4 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: auto;
  background-position: -126px;
}
.sns-icon5 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: auto;
  background-position: -168px;
}
.sns-icon6 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: auto;
  background-position: -210px;
}
.issue-mid {
  margin-left: 30px;
}
.issue-mid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 15px;
}
.issue-mid-bottom {
  width: 344px;
  height: 242px;
  border: 1px solid rgb(213, 214, 221);
}
.covid-data {
  width: 100%;
  height: 100%;
  padding: 22px 24px;
  background-color: rgb(251, 251, 251);
}
.covid-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(213, 214, 221);
}
.covid-top-left {
}
.covid-top-left img {
}
.covid-top-left span {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
}
.covid-top-right {
}
.covid-top-right a {
  display: block;
  width: 75px;
  height: 61px;
  background: url("../images/covid_btn.png") no-repeat center;
  background-size: cover;
}
.covid-bottom {
  display: flex;
  margin: 20px 0 10px;
}
.covid-bottom-left {
  width: 147px;
  padding: 0px 5px 10px;
  border-right: 1px solid rgb(213, 214, 221);
}
.covid-subtitle {
  display: block;
  height: 35.5px;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
.covid-new {
  background: rgb(220, 99, 115);
}
.covid-num {
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgb(68, 68, 68);
  text-align: center;
}
.covid-bottom-right {
  width: 147px;
  padding: 0px 5px 10px;
}
.covid-sum {
  background: rgb(52, 144, 57);
}
.issue-right {
  width: 681px;
  height: 242px;
  margin-left: 17px;
}
.issue-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 15px;
}
.issue-right-bottom {
  display: flex;
  justify-content: space-between;
}
.hot-issue-left {
  display: block;
  width: 322px;
  height: 242px;
  border: 1px solid rgb(213, 214, 221);
  box-sizing: content-box;
}
.hot-issue-right {
  display: block;
  width: 322px;
  height: 242px;
  border: 1px solid rgb(213, 214, 221);
  box-sizing: content-box;
}
.hot-issue-img1 {
  width: 100%;
}
.hot-issue-img2 {
  width: 100%;
}
.hot-issue-title {
  font-size: 16px;
  line-height: 21px;
  padding: 17px 10px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1400px) {
  .issue .inner {
    width: 100%;
  }
  .issue-left-bottom {
    width: 23.14vw;
    height: 17.29vw;
  }
  .sns-icons {
    bottom: 2.57vw;
  }
  .sns-icons li {
    margin: 0;
  }
  .sns-icon {
  }
  .issue-mid {
    margin-left: 2.14vw;
  }
  .issue-mid-top {
    margin: 0vw 0vw 1.07vw;
  }
  .issue-mid-bottom {
    width: 24.57vw;
    height: 17.29vw;
  }
  .covid-data {
    padding: 1.57vw 1.71vw;
  }
  .covid-top {
    padding-bottom: 0.71vw;
  }
  .covid-top-left span {
    padding-top: 1.07vw;
    font-size: 1.14vw;
  }
  .covid-top-right a {
    width: 5.36vw;
    height: 4.36vw;
  }
  .covid-bottom {
    margin: 1.43vw 0 0.71vw;
  }
  .covid-bottom-left {
    width: 10.5vw;
    padding: 0vw 0.36vw 0.71vw;
  }
  .covid-subtitle {
    height: 2.54vw;
    margin-bottom: 1.43vw;
    padding: 0.57vw;
    font-size: 1.07vw;
    line-height: 1.39vw;
  }
  .covid-num {
    font-size: 1.57vw;
  }
  .covid-bottom-right {
    width: 10.5vw;
    padding: 0vw 0.36vw 0.71vw;
  }
  .issue-right {
    width: 48.64vw;
    height: 17.29vw;
    margin-left: 1.21vw;
  }
  .issue-right-top {
    margin: 0vw 0vw 1.07vw;
  }
  .hot-issue-left {
    width: 23vw;
    height: 17.29vw;
  }
  .hot-issue-right {
    width: 23vw;
    height: 17.29vw;
  }
  .hot-issue-title {
    line-height: 1.5vw;
    padding: 1.21vw 0.71vw 0;
  }
}

@media screen and (max-width: 1024px) {
  .issue .inner {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0vw;
  }
  .issue-left {
    width: 50%;
    padding-right: 1vw;
  }
  .issue-left-bottom {
    width: 100%;
    height: 37.11vw;
    background-size: cover;
  }
  .sns-icons {
    bottom: 3.52vw;
  }
  .issue-mid {
    width: 50%;
    margin-left: 0;
    padding-left: 1vw;
  }
  .issue-mid-top {
    width: 100%;
    margin: 0vw 0vw 1.46vw;
  }
  .issue-mid-bottom {
    width: 100%;
    height: 37.11vw;
  }
  .covid-data {
    width: 100%;
    height: 100%;
    padding: 2.15vw 2.34vw;
    background-color: rgb(251, 251, 251);
  }
  .covid-top-left span {
    padding-top: 1.46vw;
    font-size: 16px;
    font-weight: 700;
  }
  .covid-top-right a {
    display: block;
    width: 7.32vw;
    height: 5.96vw;
    background: url("../images/covid_btn.png") no-repeat center;
    background-size: cover;
  }
  .covid-bottom {
    margin: 1.95vw auto;
  }
  .covid-bottom-left {
    width: 50%;
    padding: 0vw 0.49vw 0.98vw;
  }
  .covid-subtitle {
    height: 3.47vw;
    margin-bottom: 1.95vw;
    padding: 0.78vw;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.9vw;
  }
  .covid-num {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.1vw;
  }
  .covid-bottom-right {
    width: 50%;
    padding: 0vw 0.49vw 0.98vw;
  }
  .issue-right {
    width: 100%;
    height: 37.11vw;
    margin-left: 0;
    margin-top: 1.95vw;
  }
  .issue-right-top {
    margin: 0vw 0vw 1.46vw;
  }
  .hot-issue-left {
    width: 50%;
    height: 100%;
    margin-right: 1vw;
  }
  .hot-issue-right {
    margin-left: 1vw;
    width: 50%;
    height: 100%;
  }
  .hot-issue-title {
    font-size: 16px;
    line-height: 2.05vw;
    padding: 1.95vw;
  }
}

@media screen and (max-width: 640px) {
  .issue .inner {
    width: 100%;
    flex-direction: column;
  }
  .issue-left {
    width: 100%;
    height: 260px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .issue-left-bottom {
    width: 100%;
    height: 216px;
    background: url("/images/bg_sns_m.jpg") no-repeat center;
    background-size: cover;
  }
  .issue-mid {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .issue-mid-bottom {
    width: 100%;
    height: 165px;
  }
  .hot-issue-img1 {
    width: 100%;
    height: 165px;
  }
  .hot-issue-img2 {
    width: 100%;
    height: 165px;
  }
}
