@charset "utf-8";
/* 바로가기 */
.links {
  border-top: 1px solid #d5d6dd;
  margin-top: 40px;
}
.links .inner {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns {
  width: 180px;
  font-size: 0;
  cursor: pointer;
}
.btns > span {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url("../images/sp_main.png") no-repeat center;
  font-size: 0;
  vertical-align: middle;
  margin-right: 2px;
}
.btns span:first-child {
  background-position: -112px 0;
}
.btns span:nth-child(2) {
  background-position: -182px 0;
}
.btns span:nth-child(3) {
  background-position: -217px 0;
}
.btns span:last-child {
  width: 18px;
  height: 18px;
  background-position: -357px 0;
  margin: 6.5px;
}
.link-swiper {
  width: 1220px;
}
.sw-links a {
  text-align: center;
  width: 180px;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  margin: 2px 8px;
  padding: 10px 12px;
  background: rgb(235, 236, 241);
  color: rgb(68, 68, 68);
}
.sw-links a:last-child {
  margin-right: 0;
}
.link-swiper a.shortcut::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -209px -35px;
  vertical-align: text-bottom;
  margin-left: 10px;
}
