@charset "utf-8";
/* 사이트맵 */
.sitemap {
  background: rgb(28, 41, 60);
}
.sitemap .inner {
  height: 60px;
}
.sitemap-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.sitemap-list > li {
  width: 100%;
  position: relative;
  border-left: 1px solid rgb(131, 139, 151);
}
.sitemap-list > li:last-child {
  border-right: 1px solid rgb(131, 139, 151);
}
.sitemap-list > li > a {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 60px;
  padding-left: 25px;
}
.sitemap-list > li > a::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 20px;
  top: calc(50% - 6px);
  width: 15px;
  height: 12px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -190px -32px;
  vertical-align: middle;
  transition: transform 0.5s;
}
.sitemap-list > li.active > a::after {
  transform: rotate(180deg);
}
.sublist {
  background: #fff;
  position: absolute;
  bottom: 100%;
  left: -1px;
  width: 100%;
  height: 0;
  overflow: auto;
  z-index: 99;
  transition: height 0.5s;
}
.sublist-active {
  height: 300px;
  padding: 6px 0;
  border: 1px solid rgb(224, 228, 233);
}
.sublist > li {
  height: 30px;
}
.sublist > li > a {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(68, 68, 68);
}
.sublist > li:hover > a {
  background: rgb(227, 239, 254);
}

@media screen and (max-width: 1024px) {
  .sitemap {
    display: none;
  }
}
