@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none; /* 공공기관은 있어야 함 */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: '맑은 고딕';
  color: rgb(68, 68, 68);
  word-break: keep-all;
  font-size: 1.4rem;
  line-height: 1;
}

/* 공통 클래스 */
.inner {
  width: 1400px;
  margin: 0 auto;
}
/* 상단 */
.header {
  border-bottom: 1px solid #d5d6dd;
}
.header .inner {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 200px;
  height: 64px;
  background: url('../images/logo_header.png') no-repeat center;
}
.gnb {
  width: 690px;
  margin-right: 85px;
}
.gnb > ul {
  display: flex;
  justify-content: space-between;
}
.gnb > ul > li {
  font-size: 2rem;
  font-weight: 600;
}
.gnb > ul > li > a {
  padding: 0 40px;
  letter-spacing: -1px;
}
.member-list {
  width: 280px;
}
.member-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-list > ul > li {
  font-size: 1.3rem;
}
.member-list > ul > li > a {}
.member-list > ul > li:first-child {
  padding: 0 30px 0 10px;
}
.member-list > ul > li:nth-child(2) {
  padding: 0 35px 0 5px;
}
.member-list > ul > li:last-child {
  margin-left: 25px;
}
.login-btn {
  position: relative;
}
.login-btn::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.language {
  position: relative;
}
.language::before {
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  top: 4px;
  width: 1px;
  height: 10px;
  background: #d9d9d9;
}
.language::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.header-searchBtn {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/img_srch.png') no-repeat center;
}
.header-sitemap {
  display: block;
  width: 29px;
  height: 24px;
  background: url('../images/img_sitemap.png') no-repeat center;
}
/* 검색창 */
.search-area {
  height: 126px;
}
.search-area .inner {
  height: 66px;
}
.search {
  position: relative;
  width: 837px;
  height: 66px;
  margin: 0 auto;
  padding: 20px 0 40px;
}
.search-text {
  width: 728px;
  height: 66px;
  border: 2px solid rgb(9, 169, 88);
  border-radius: 2rem 0 0 0;
  padding: 0 30px;
  font-size: 28px;
  color: rgb(9, 169, 88);
}
.searchBtn {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 126px;
  height: 66px;
  background: rgb(9, 169, 88) url('../images/btn_srch.png') no-repeat center;
  background-position: contain;
  border: 0;
  border-radius: 2rem 0 2rem 0;
  cursor: pointer;
}
/* 퀵메뉴 */
/* 메인 배너 */
/* sns, 정보, 이슈 */
/* 카테고리 */
.category {
  background: rgb(234, 235, 237);
}
.category .inner {
  height: 175px;
}
.category-list {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.category-list li {}
.category-list li a {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.icon {
  width: 86px;
  height: 86px;
  background: #fff;
  border-radius: 50%;
}
.icon1 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: 0;
}
.icon2 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -85px;
}
.icon3 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -175px;
}
.icon4 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -260px;
}
.icon5 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -340px;
}
.icon6 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -425px;
}
.icon7 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -515px;
}
.icon8 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -600px;
}
.icon9 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -685px;
}
.icon10 {
  background: #fff url('../images/ico_part.png') no-repeat;
  background-position: -770px;
}
.icon-text {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: -1px;
}
/* 커뮤니티 */
/* 홍보, 안내 */
/* 운영 서비스 */
/* 사이트맵 */
/* 하단 */