@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none; /* 공공기관은 있어야 함 */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "맑은 고딕";
  color: rgb(68, 68, 68);
  word-break: keep-all;
  font-size: 1.4rem;
  line-height: 1;
}

/* 공통 클래스 */
.inner {
  width: 1400px;
  margin: 0 auto;
}
.subtitle {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2px;
  color: rgb(68, 68, 68);
  line-height: 26px;
}
.more-btn {
  font-size: 14px;
}
.more-btn::after {
  content: "+";
  font-size: 14px;
  margin-left: 5px;
}
.left-btn {
  width: 31px;
  height: 31px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -112px 0px;
  border: none;
  cursor: pointer;
}
.pause-btn {
  width: 31px;
  height: 31px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -147px 0px;
  border: none;
  cursor: pointer;
}
.right-btn {
  width: 31px;
  height: 31px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -217px 0px;
  border: none;
  cursor: pointer;
  margin-left: 2px;
}
/* 상단 */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d5d6dd;
  background: #fff;
  z-index: 999999;
}
.header .inner {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 200px;
  height: 64px;
  background: url("../images/logo_header.png") no-repeat center;
}
.gnb {
  width: 690px;
  margin-right: 85px;
}
.gnb > ul {
  display: flex;
  justify-content: space-between;
}
.gnb > ul > li {
  font-size: 2rem;
  font-weight: 600;
}
.gnb > ul > li > a {
  padding: 0 40px;
  letter-spacing: -1px;
}
.member-list {
  width: 280px;
}
.member-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-list > ul > li {
  font-size: 1.3rem;
}
.member-list > ul > li > a {
}
.member-list > ul > li:first-child {
  padding: 0 30px 0 10px;
}
.member-list > ul > li:nth-child(2) {
  padding: 0 35px 0 5px;
}
.member-list > ul > li:last-child {
  margin-left: 25px;
}
.login-btn {
  position: relative;
}
.login-btn::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.language {
  position: relative;
}
.language::before {
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  top: 4px;
  width: 1px;
  height: 10px;
  background: #d9d9d9;
}
.language::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.header-searchBtn {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/img_srch.png") no-repeat center;
}
.header-sitemap {
  display: block;
  width: 29px;
  height: 24px;
  background: url("../images/img_sitemap.png") no-repeat center;
}
/* 검색창 */
.search-area {
  height: 126px;
}
.search-area .inner {
  height: 66px;
}
.search {
  position: relative;
  width: 837px;
  height: 66px;
  margin: 0 auto;
  padding: 20px 0 40px;
}
.search-text {
  width: 728px;
  height: 66px;
  border: 2px solid rgb(9, 169, 88);
  border-radius: 2rem 0 0 0;
  padding: 0 30px;
  font-size: 28px;
  color: rgb(9, 169, 88);
}
.searchBtn {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 126px;
  height: 66px;
  background: rgb(9, 169, 88) url("../images/btn_srch.png") no-repeat center;
  background-position: contain;
  border: 0;
  border-radius: 2rem 0 2rem 0;
  cursor: pointer;
}
/* 퀵메뉴 */
.quick-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
}
.quick-menu .inner {
  width: 120px;
  border: 1px solid rgb(213, 214, 221);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #fff;
}
.quick-menu-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px 16px;
}
.quick-menu-list li {
  padding: 5px 0 10px;
  border-bottom: 1px solid rgb(213, 213, 213);
}
.quick-menu-list li:last-child {
  border-bottom: 0;
}
.quick-menu-list li a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: rgb(68, 68, 68);
}
.qm-icon {
  width: 55px;
  height: 55px;
  margin: 0 16px;
}
.qm-icon1 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-size: cover;
}
.qm-icon2 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -55px;
  background-size: cover;
}
.qm-icon3 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -110px;
  background-size: cover;
}
.qm-icon4 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -490px;
  background-size: cover;
}
.qm-icon5 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -168px;
  background-size: cover;
}
.qm-icon6 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -218px;
  background-size: cover;
}
.qm-icon7 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -272px;
  background-size: cover;
}
.qm-icon8 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -333px;
  background-size: cover;
}
.qm-icon9 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -381px;
  background-size: cover;
}
.qm-icon10 {
  background: url("../images/ico_top.jpg") no-repeat;
  background-position: -445px;
  background-size: cover;
}
.qm-text {
  font-size: 15px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 19.5px;
}
/* 메인 배너 */
.main-banner {
}
.main-banner .inner {
  height: 390px;
  display: flex;
  justify-content: space-between;
}
.main-banner-left {
  position: relative;
  width: 325px;
  height: 100%;
}
.main-btn-area {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 186px;
  display: flex;
  align-items: center;
  z-index: 99;
  cursor: pointer;
}
.main-btn-area .btn {
  display: inline-block;
  width: 52px;
  height: 50px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: 0 0;
  font-size: 0;
}
.main-btn-area .main-next-btn {
  background-position: -55px 0;
}
.main-btn-area .count {
  font-size: 15px;
  color: rgb(68, 68, 68);
  margin: 0 10px;
}
.count b {
  color: rgb(237, 21, 21);
}
.main-pause-btn {
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -112px -35px;
  font-size: 0;
  margin: 0 16px;
}
.sw-main-left {
  width: 325px;
  height: 100%;
  overflow: hidden;
}
.banner-text {
  display: block;
  width: 325px;
  height: 100%;
}
.banner-title {
  width: 100%;
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -3.3px;
  padding-top: 20px;
  color: rgb(68, 68, 68);
}
.banner-text p {
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -1px;
  margin-top: 30px;
}
.main-banner-mid {
  width: 685px;
}
.banner {
  display: inline-block;
  width: 100%;
  height: 391px;
}
.banner-img1 {
  background: url("../images/banner1.jpeg") no-repeat center;
}
.banner-img2 {
  background: url("../images/banner2.jpeg") no-repeat center;
}
.banner-img3 {
  background: url("../images/banner3.jpeg") no-repeat center;
}
.banner-img4 {
  background: url("../images/banner4.jpeg") no-repeat center;
}
.main-banner-right {
  width: 326px;
}
.weather {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid rgb(213, 214, 221);
  border-radius: 50px;
  padding: 6px 10px 6px 30px;
}
.temperature {
  font-size: 16px;
  font-weight: 600;
  color: rgb(277, 0, 52);
  line-height: 32px;
  margin-left: 10px;
}
.weather button {
  position: relative;
  width: 5px;
  height: 32px;
  font-size: 0;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.weather button::after {
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: 15px;
  width: 0px;
  height: 0px;
  border-top: 4px solid #353d47;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sw-weather {
  width: 170px;
  height: 32px;
  text-align: center;
}
.weather-list {
  font-size: 13px;
  line-height: 32px;
  color: rgb(68, 68, 68);
}
.weather-list em {
  font-size: 13px;
  line-height: 32px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}
.weather-level {
  display: inline-block;
  width: 38px;
  font-size: 13px;
  line-height: 19px;
  color: rgb(68, 68, 68);
  border: 1px solid rgb(51, 51, 51);
  border-radius: 20px;
  text-align: center;
}
.weather-text {
  display: inline-block;
}
.mayor {
  position: relative;
  width: 326px;
  height: 341px;
  background: url("../images/img_mayor_bg.png");
}
.mayor-title {
  margin: 30px 40px 0;
}
.mayor-links {
  position: absolute;
  top: 135px;
  left: 0px;
  z-index: 99;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}
.mayor-shortcuts {
  display: block;
  margin: 20px 30px 0;
  color: rgb(15, 109, 187);
  text-decoration: solid;
  text-decoration-line: underline;
}
.promise-shortcuts {
  display: block;
  margin: 20px 30px 0;
  color: rgb(15, 109, 187);
  text-decoration: solid;
  text-decoration-line: underline;
}
.mayor-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* sns, 정보, 이슈 */
.issue {
}
.issue .inner {
  display: flex;
  align-items: start;
  margin-top: 40px;
}
.issue-subtitle {
}
.issue-left {
}
.issue-left-top {
  margin: 0px 0px 15px;
}
.issue-left-bottom {
  width: 324px;
  height: 242px;
  background: url("../images/bg_sns.jpg");
  position: relative;
}
.sns-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 36px;
}
.sns-icons li {
  margin: 0 4px;
}
.sns-icon {
  display: block;
  width: 42px;
  height: 42px;
}
.sns-icon1 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: cover;
  background-position: 0px;
}
.sns-icon2 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: cover;
  background-position: -42px;
}
.sns-icon3 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: cover;
  background-position: -84px;
}
.sns-icon4 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: cover;
  background-position: -126px;
}
.sns-icon5 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: cover;
  background-position: -168px;
}
.sns-icon6 {
  background: url("../images/ico_sns.png") no-repeat center;
  background-size: cover;
  background-position: -210px;
}
.issue-mid {
  margin-left: 30px;
}
.issue-mid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 15px;
}
.issue-mid-bottom {
  width: 344px;
  height: 242px;
  border: 1px solid rgb(213, 214, 221);
}
.covid-data {
  width: 100%;
  height: 100%;
  padding: 22px 24px;
  background-color: rgb(251, 251, 251);
}
.covid-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(213, 214, 221);
}
.covid-top-left {
}
.covid-top-left img {
}
.covid-top-left span {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
}
.covid-top-right {
}
.covid-top-right a {
  display: block;
  width: 75px;
  height: 61px;
  background: url("../images/covid_btn.png");
}
.covid-bottom {
  display: flex;
  margin: 20px 0 10px;
}
.covid-bottom-left {
  width: 147px;
  padding: 0px 5px 10px;
  border-right: 1px solid rgb(213, 214, 221);
}
.covid-subtitle {
  display: block;
  height: 35.5px;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
.covid-new {
  background: rgb(220, 99, 115);
}
.covid-num {
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgb(68, 68, 68);
  text-align: center;
}
.covid-bottom-right {
  width: 147px;
  padding: 0px 5px 10px;
}
.covid-sum {
  background: rgb(52, 144, 57);
}
.issue-right {
  width: 681px;
  height: 242px;
  margin-left: 17px;
}
.issue-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 15px;
}
.issue-right-bottom {
  display: flex;
  justify-content: space-between;
}
.hot-issue-left {
  display: block;
  width: 322px;
  height: 242px;
  border: 1px solid rgb(213, 214, 221);
  box-sizing: content-box;
}
.hot-issue-right {
  display: block;
  width: 322px;
  height: 242px;
  border: 1px solid rgb(213, 214, 221);
  box-sizing: content-box;
}
.hot-issue-img1 {
  width: 100%;
}
.hot-issue-img2 {
  width: 100%;
}
.hot-issue-title {
  font-size: 16px;
  line-height: 21px;
  padding: 17px 10px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 카테고리 */
.category {
  background: rgb(234, 235, 237);
}
.category .inner {
  height: 175px;
}
.category-list {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-top: 60px;
}
.category-list li {
}
.category-list li a {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.icon {
  width: 86px;
  height: 86px;
  background: #fff;
  border-radius: 50%;
}
.icon1 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: 0;
}
.icon2 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -85px;
}
.icon3 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -175px;
}
.icon4 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -260px;
}
.icon5 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -340px;
}
.icon6 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -425px;
}
.icon7 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -515px;
}
.icon8 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -600px;
}
.icon9 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -685px;
}
.icon10 {
  background: #fff url("../images/ico_part.png") no-repeat;
  background-position: -770px;
}
.icon-text {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: -1px;
}
/* 커뮤니티 */
.community .inner {
  height: 276px;
  margin-top: 60px;
  display: flex;
}
.community-left {
}
.community-menu {
}
.community-menu li {
  margin-bottom: 4px;
}
.community-menu li:last-child {
  margin-bottom: 0;
}
.community-menu li a {
  position: relative;
  display: block;
  width: 210px;
  height: 52px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 52px;
  letter-spacing: -2px;
  font-weight: 600;
  background-color: rgb(227, 237, 244);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(68, 68, 68);
}
.community-menu li:first-child a {
  width: 225px;
  color: #fff;
  background: rgb(23, 105, 171);
  margin-right: 15px;
}
.community-menu li a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 0px;
  width: 22px;
  height: 2px;
  background: #fff;
}
.community-menu li:first-child a::after {
  top: 19px;
  right: 20px;
  width: 14px;
  height: 14px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -136px -35px;
}
.community-right {
}
.community-list {
  height: 100%;
  display: flex;
}
.community-list li {
  height: 100%;
  margin-left: 58px;
}
.community-list li a {
  display: block;
  width: 232px;
  height: 100%;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #000;
}
.list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-date {
  display: inline-block;
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 50%;
  background: rgb(234, 235, 237);
  color: rgb(68, 68, 68);
  font-size: 14px;
  line-height: 65px;
  font-weight: 600;
}
.list-department {
  font-size: 15px;
  line-height: 19px;
  color: rgb(68, 68, 68);
}
.list-mid {
  margin-top: 15px;
}
.list-title {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -2px;
  font-weight: 700;
  color: rgb(68, 68, 68);
  height: 84px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.list-bottom {
}
.list-contents {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
  color: rgb(68, 68, 68);
  margin-top: 18px;
  height: 72px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 홍보, 안내 */
.info {
}
.info .inner {
  height: 100%;
  margin-top: 55px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.info-left {
  width: 683px;
  height: 100%;
}
.youtube-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.info-title {
}
.youtube-bottom {
  display: block;
  display: flex;
  justify-content: space-between;
}
.youtube-img {
  width: 322px;
  height: 243px;
  border: 1px solid rgb(213, 214, 221);
}
.youtube-img img {
  width: 100%;
}
.youtube-title {
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  padding: 17px 10px 0;
  color: rgb(68, 68, 68);
}
.info-right {
  width: 683px;
  margin-left: 35px;
}
.info-zone-top {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  align-items: center;
}
.pages {
  display: inline-block;
  color: rgb(68, 68, 68);
  font-size: 15px;
  line-height: 31px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}
.info-zone-bottom {
  width: 100%;
}
.sw-info {
}
.swiper-wrapper {
  /* display: flex;
  justify-content: space-between; */
}
.info-img {
  display: block;
  width: 325px;
  height: 243px;
}
.info-img img {
  width: 100%;
  height: 100%;
}

/* 운영 서비스 */
.service {
}
.service .inner {
  height: 347px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.service-left {
  width: 684px;
  height: 100%;
  background: rgb(230, 247, 251);
  padding: 30px 80px 0;
  position: relative;
}
.slide-title {
  text-align: center;
  margin-bottom: 20px;
}
.slide-title span {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -2px;
  color: rgb(68, 68, 68);
}
.service-btns {
  position: absolute;
  right: 30px;
  top: 30px;
}
.service-btns > .pause-btn {
  background-position: -252px 0px;
}
.service-more-btn {
  width: 31px;
  height: 31px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -322px 0px;
  border: none;
  cursor: pointer;
}
.service-slide {
  position: relative;
}
.service-slide .service-bt-prev {
  position: absolute;
  left: -55px;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: 0 -55px;
  cursor: pointer;
}
.service-slide .service-bt-next {
  position: absolute;
  right: -55px;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -55px -55px;
  cursor: pointer;
}
.service-list {
  display: inline-block;
  width: 131px;
  height: 128px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 5px;
  float: left;
}
.service-list img {
  display: block;
  width: 82px;
  height: 82px;
  margin: 0 auto;
  background: #fff;
  border-radius: 33px;
}
.service-list span {
  display: block;
  width: 100%;
  height: 38px;
  font-size: 15px;
  line-height: 19.5px;
  letter-spacing: -1px;
  margin-top: 8px;
}
.service-right {
  width: 684px;
  height: 347px;
  padding: 35px;
  border: 1px solid rgb(213, 214, 221);
}
.service-menu-top {
  width: 100%;
  height: 54px;
}
.service-menu {
  display: flex;
  border: 1px solid rgb(197, 196, 195);
  border-bottom: 0;
}
.service-menu > li {
  width: 100%;
  text-align: center;
  border-right: 1px solid rgb(197, 196, 195);
  border-bottom: 1px solid rgb(9, 169, 88);
}
.service-menu > li:first-child {
  background: rgb(9, 169, 88);
  border-right: 0;
}
.service-menu > li:last-child {
  border-right: 0;
}
.service-menu > li > a {
  display: block;
  width: 152px;
  height: 54px;
  font-size: 17px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -1px;
  color: rgb(68, 68, 68);
}

.service-menu li a::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 26px;
  height: 27px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -112px -85px;
  margin: 0 5px 0 0;
  vertical-align: text-top;
}

.service-menu .menu1 a {
  color: #fff;
}
.service-menu .menu1 a::before {
  width: 22px;
}

.service-menu .menu2 a::before {
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -138px -54px;
}
.service-menu .menu3 a::before {
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -168px -54px;
}
.service-menu .menu4 a::before {
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -196px -54px;
}
.service-menu-bottom {
  height: 196px;
  display: flex;
  margin-top: 16px;
}
.service-menu-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 30px;
}
.service-menu-list:first-child {
  margin-left: 0;
}
.service-menu-list li {
  width: 183px;
  padding: 14px 0 13px 12px;
  border-bottom: 1px dashed rgb(194, 187, 178);
}
.service-menu-list li:before {
  content: "";
  position: relative;
  display: block;
  width: 2px;
  height: 2px;
  left: -10px;
  top: calc((100% - 1px) / 2);
  background: #000;
}
.service-menu-list li a {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -1px;
}
.service-menu-list li a.shortcut::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -209px -35px;
  vertical-align: text-bottom;
  margin-left: 3px;
}
/* 바로가기 */
.links {
  border-top: 1px solid #d5d6dd;
  margin-top: 40px;
}
.links .inner {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns {
  width: 180px;
  font-size: 0;
  cursor: pointer;
}
.btns > span {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url("../images/sp_main.png") no-repeat center;
  font-size: 0;
  vertical-align: middle;
  margin-right: 2px;
}
.btns span:first-child {
  background-position: -112px 0;
}
.btns span:nth-child(2) {
  background-position: -182px 0;
}
.btns span:nth-child(3) {
  background-position: -217px 0;
}
.btns span:last-child {
  width: 18px;
  height: 18px;
  background-position: -357px 0;
  margin: 6.5px;
}
.link-swiper {
  width: 1220px;
}
.sw-links a {
  text-align: center;
  width: 180px;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  margin: 2px 8px;
  padding: 10px 12px;
  background: rgb(235, 236, 241);
  color: rgb(68, 68, 68);
}
.sw-links a:last-child {
  margin-right: 0;
}
.link-swiper a.shortcut::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -209px -35px;
  vertical-align: text-bottom;
  margin-left: 10px;
}
/* 사이트맵 */
.sitemap {
  background: rgb(28, 41, 60);
}
.sitemap .inner {
  height: 60px;
}
.sitemap-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.sitemap-list > li {
  width: 100%;
  position: relative;
  border-left: 1px solid rgb(131, 139, 151);
}
.sitemap-list > li:last-child {
  border-right: 1px solid rgb(131, 139, 151);
}
.sitemap-list > li > a {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 60px;
  padding-left: 25px;
}
.sitemap-list > li > a::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 20px;
  top: calc(50% - 6px);
  width: 15px;
  height: 12px;
  background: url("../images/sp_main.png") no-repeat center;
  background-position: -190px -32px;
  vertical-align: middle;
  transition: transform 0.5s;
}
.sitemap-list > li.active > a::after {
  transform: rotate(180deg);
}
.sublist {
  background: #fff;
  position: absolute;
  bottom: 100%;
  left: -1px;
  width: 100%;
  height: 0;
  overflow: auto;
  z-index: 99;
  transition: height 0.5s;
}
.sublist-active {
  height: 300px;
  padding: 6px 0;
  border: 1px solid rgb(224, 228, 233);
}
.sublist > li {
  height: 30px;
}
.sublist > li > a {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(68, 68, 68);
}
.sublist > li:hover > a {
  background: rgb(227, 239, 254);
}
/* 하단 */
.footer {
  background: rgb(235, 236, 241);
}
.footer .inner {
}
.footer-top {
  height: 69px;
  font-size: 0;
  border-bottom: 1px solid rgb(213, 214, 221);
}
.footer-top a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 69px;
  letter-spacing: -1px;
  padding: 0 10px;
  color: rgb(68, 68, 68);
}
.footer-top a:first-child {
  padding-left: 0;
}
.footer-top a:not(:first-child)::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 2px;
  left: 0px;
  top: calc(100% / 2 - 1px);
  background: #000;
}
.footer-top a strong {
  font-weight: 700;
}
.footer-bottom {
  height: 99px;
  padding: 25px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-mid {
  padding-right: 80px;
}
.footer-bottom-mid p {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
}
.footer-bottom-mid p:last-child {
  color: rgb(136, 136, 136);
  margin-bottom: 0;
}
.img120 {
  margin-right: 20px;
}
